@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

.mainContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.rowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    padding-bottom: 150px;
    width: 700px;

    text-align: center;

    font-family: 'JetBrains Mono', monospace, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
}
