.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
}

.project {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
}
