.mainContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 80%;
    display: flex;
}

.infoContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.leftContainer {
    width: 60%;
}

.nameContainer {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.adminPanelContainer {
    margin-right: 0;
    margin-left: auto;
    width: 350px;
}

.adminLinkContainer {
    display: flex;
    background: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.adminLinkContainer:hover {
    background: #e5e5e5;
    cursor: pointer;
}

.downArrow {
    margin-left: auto;
    padding-right: 15px;
}

.adminPanelTitle {
    text-align: left;
    margin-left: 15px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.adminLink {
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.adminLink:hover {
    cursor: pointer;
}

.buildConfigsContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
}

.modalContainer {
    background: #fafafa;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
}


