@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.buildConfigContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 5px;
    background: #F2F2F2;
}

.buildConfigName {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.buildConfigName:hover {
    text-decoration: underline;
}
